<% layout('layout/layout') %>

<link rel="stylesheet" type="text/css" href="/css/addUser-css.css">

<% include partials/navbar.ejs %>

<% if(data.isActive == "true"){ %>
<% include partials/sidebar.ejs %>
<% } %>

<div class="container mb-5" style=" margin-top: 90px;">
	<div class="adduser-container p-5">
		<div class="card-header">
			<h1 class="d-flex justify-content-center display-4"><u>Add User</u></h1>
		</div>

		<div class="adduser-input form-group">
			<input type="text" class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off"
				spellcheck="false" id="adduser-name" placeholder="Name" name="name" required="required">
			<input type="text" class="form-control" style="margin-bottom: 0;" autocomplete="off" autocorrect="off"
				autocapitalize="off" spellcheck="false" id="adduser-email" placeholder="Email" name="email"
				required="required" onChange="checkDuplicate()">
			<div id="email_available" class="pb-2 float-right">
				<!-- <i class="fa fa-check"></i> Available -->
			</div>
			<input type="text" class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off"
				spellcheck="false" id="adduser-password" placeholder="User Password" name="password"
				required="required">
			<input type="number" class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off"
				spellcheck="false" id="adduser-phoneno" placeholder="Phone" name="phoneno" required="required">
			<input type="text" class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off"
				spellcheck="false" id="adduser-city" placeholder="City" name="city" required="required">

			<label>Role :</label><br>
			<select id="addUser-select">
				<option value="User">User</option>
				<option value="Commuity Builder">Community Builder</option>
				<option value="SuperAdmin">SuperAdmin</option>
			</select>
		</div>

		<div class="form-group">
			<input type="submit" value="Add User" class="btn btn-lg btn-success" id="btnaddUser">
			<a value="Add User" class="btn btn-lg btn-danger" href="/addUser">Cancel</a>
		</div>
	</div>
</div>

<script type="text/javascript" src="script/addUser.js"></script>