<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CQ - <%= data.name %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">

  <link rel="stylesheet" type="text/css" href="/css/navBar.css">
  <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
  <link rel="stylesheet" type="text/css" href="css/communitystyle.css">
  <link rel="stylesheet" type="text/css" href="css/sirstyle.css">

  <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
</head>

<body>
  <%- include ('paritials/topbar.ejs') %>
  <% if(data.isActive == "true"){ %>
  <%- include ('paritials/sidebar.ejs') %>
  <% } %>

  <div id="page-content-wrapper">
    <div class="container-fluid page-content-div" style="padding:0;">
      <div class="row">
        <div class="col-lg-12 scoll-possible" style="padding:0">
          <div class="community-header-top" style="height:50px;padding-top:6px;">
            <div class="col-sm-12 community-sub-head">
              <a class="btn community-head-btn active" onclick="initaliseTable()">
                <i class="fa fa-users"></i>
              </a>
              <a class="btn community-head-btn" style="margin-left:10px" href="/communityalllists">
                <i class="fa fa-search"></i>
              </a>
            </div>
          </div>
          <div class="container">
            <div class="col-sm-12">
              <div class="panel panel-default allSidesSoft community-panel-main-div">
                <div class="panel-heading community-panel-heading" style="color:white;font-weight:bold;display:flex; ">
                  <p style="flex:1;float: left; margin: 10px;">My Communities</p>
                  <a href="/invitedbycommunity" class="btn btn-info community-panel-btn"
                    style="float:right;margin: 10px;">Invited Community</a>
                  <% if(data.role == "SuperAdmin" || data.role == "CommunityManagers"){ %>
                  <a href="/addCommunity" class="btn btn-info community-panel-btn"
                    style="float:right;margin: 10px;">Create</a>
                  <% } %>
                </div>
                <div class="panel-body" style="padding-bottom:0">
                  <div id="can-create-community">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/script/communitylists-js.js"></script>
</body>

</html>