<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">

<link rel="stylesheet" type="text/css" href="/css/userTable.css">
<link rel="stylesheet" type="text/css" href="/css/navBar.css">
<link rel="stylesheet" type="text/css" href="/css/sidebar.css">
<link rel="stylesheet" type="text/css" href="css/trumbowyg.css">

<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>

<script src="script/trumbowyg.min.js"></script>
<script src="script/sidebar.js"></script>

<% include paritials/topbar.ejs %>
<% include paritials/sidebar.ejs %>

<!--Edit Modal-->
<div class="container-fluid" id="containerid" style="padding:0;">
  <div class="row">
    <div class="col-lg-12" style="padding:0">
      <div style="margin-left:20px;margin-right:20px;margin-top:1%">
        <center>
        <div id="editModal" class="modal fade" role="dialog" style="z-index:9999;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 id="eheading" class="modal-title"></h3>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <div class="modal-body">
                <div class="form-horizontal">
                  <div class="form-group">
                    <div class="col-lg-5 col-lg-offset-3" style="width:50%;">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2">Username:</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="eusername" placeholder="Username" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2">Phone:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="ephone" placeholder="Username">
                      </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2">City:</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="ecity" placeholder="Username">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2">Status:</label>
                    <div class="col-sm-10">
                      <select class="form-control" id="estatus">
                        <option value="Pending">Pending</option>
                          <option value="Confirmed">Confirmed</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-2">Role:</label>
                    <div class="col-sm-10">
                      <select class="form-control" id="erole">
                        <option value="User">User</option>
                          <option value="Community manager">Community Manager</option>
                          <option value="Admin">Admin</option>
                        </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2 pull-left">
                        <button class = "btn btn-default" id="eupdate" data-dimiss="modal">Update</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </center>

<!--Mail Modal-->
      <center>
        <div class="modal fade in" id="mailModal" role="dialog" style="z-index: 9999; display: none; padding-left: 0px;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="mailheader">Send Reminder Mail</h4>
                <button type="button" class="close" data-dismiss="modal">x</button>
              </div>
              <div class="modal-body">
                <div class="form-horizontal"> <!-- form -->
                  <div class="form-group">
                    <label class="control-label col-sm-2" for="email">To:</label>
                    <div class="col-sm-10">
                      <input type="email" name="username" class="form-control" id="emailPop" readonly="">
                    </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2">Subject:</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Title" value="(This mail is from CQ)">
                  </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12"><!--Body-->
                  <textarea type="text" class="form-control trumbowyg-textarea" cols="30" rows="20" name="body" id="body" style="padding: 0;"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-default" id="mailbutton" style="float:right">Send</button>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  </center>

<!-- AFTER MODEL-->
          <div class="form-control" id="userlist-icon" style="float:left;">User list
            </div>
              <select class="form-control" id="role-btn" style="float:right;margin-left:10px;">
                    <option value="all">All</option>
                    <option value="admin">Admins</option>
                    <option value="user">Users</option>
                    <option value="community builder">Community Builder</option>
              </select>

              <select class="form-control" id="status-btn" style="float:right;margin-left:10px;">
                <option value="all">All</option>
                <option value="pending">Pending</option>
                <option value="confirmed">Confirmed</option>
              </select>

            <button id="refresh" class="btn btn-default" style="float:right;background-color#2D312C;color: #fff;" onclick="initaliseTable()">
            <span><i class="glyphicon glyphicon-refresh"></i></span>Refresh
            </button>
            <br><br><br>
            <div class="table-responsive">
              <div class="row">
                <div class="col-sm-12">
                  <table id="table" class="table table-striped table-bordered"  style="display:table;width:100%;">
                    <thead>
                      <th>Username/Email</th>
                      <th>Phone</th>
                      <th>City</th>
                      <th >Status</th>
                      <th >Role</th>
                      <th >Actions</th>
                    </thead>
                    <tbody id="table-body">
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<div class="container">
<div class="table-responsive" >
<div class="row">
<div class="col-sm-12">
<table class="table table-striped table-bordered display">
<thead>
            <tr>
                <th>Username/Email</th>
                <th>Phone</th>
                <th>City</th>
                <th >Status</th>
                <th >Role</th>
                <th >Actions</th>
            </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
</table>
</div>
</div>
</div>
</div>-->

<script type="text/javascript"> 
var mailbtn=document.getElementById('mailbutton');

mailbtn.addEventListener("click", function()
{
  var obj=new Object();
  obj.to=document.getElementById('emailPop');
  obj.text=document.getElementById('body').value;
  obj.subject=document.getElementById('subject').value;

  var xhr=new XMLHttpRequest();
  xhr.open("POST","/sendMail");
  xhr.setRequestHeader("Content-Type","application/json");
  xhr.send(JSON.stringify(obj));
});

$(document).ready(function() {
  initaliseTable();
});
function initaliseTable()
{
    $('#table').DataTable({
      "processing": true,
      "serverSide": true,
      "ajax": {
        "url": "/usersTable",
        "type": "POST", 
      },
      "columns": [
      {
        "data" : "email"
      },
      {
        "data" : "phoneno"
      },
      {
        "data" : "city"
      },
      {
        "data" : "status"
      },
      {
        "data" : "role"
      },
      {
        "data" : null
      },
      ],
      "columnDefs": [{
                "targets": -1,

                "render": function (data, type, row, meta) {
                    var r = row.role;
                   console.log(r);
                   if(data.role=="SuperAdmin")
                   data = '<button class="btn btn-primary btn-sm action-btn" style="background-color:rgb(0, 0, 0)" id="mailbutton" data-toggle="modal" data-target="#mailModal" onclick="mailmodal()"><span class="fa fa-envelope" style="color:#fff"></span>';
                 else if(data.status=="Pending")
                  data = '<button class="btn btn-primary btn-sm action-btn" style="background-color:rgb(0, 0, 0)" id="mailbutton" data-toggle="modal" data-target="#mailModal" onclick="mailmodal()"><span class="fa fa-envelope" style="color:#fff"></span></button><button class="btn btn-primary btn-sm action-btn" id="editbutton" data-toggle="modal" data-target="#editModal" onclick="editmodal()"><span class="fa fa-edit" style="color:#fff"></span></button><button class="btn btn-success btn-sm action-btn"  onclick="activateUser()"><span class="fa fa-check-circle" style="color:#fff"></span></button>';
                else
                  data = '<button class="btn btn-primary btn-sm action-btn" style="background-color:rgb(0, 0, 0)" id="mailbutton" data-toggle="modal" data-target="#mailModal" onclick="mailmodal()"><span class="fa fa-envelope" style="color:#fff"></span></button><button class="btn btn-primary btn-sm action-btn" id="editbutton" data-toggle="modal" data-target="#editModal" onclick="editmodal()"><span class="fa fa-edit" style="color:#fff"></span></button><button class="btn btn-warning btn-sm action-btn"  onclick="deactactivateUser()"><span class="fa fa-times-circle" style="color:#fff"></span></button>';
                return data;
                }
            }],

    });
  }

function editmodal()
{
  $(document).on("click", "#editbutton", function() {
    d = $(this).parent().parent()[0].children;
    console.log(d[0]);
    $('#eusername').val(d[0].innerHTML);
    $('#ephone').val(d[1].innerHTML);
    $('#ecity').val(d[2].innerHTML);
    document.getElementById('estatus').value=d[3].innerHTML;
    document.getElementById('erole').value=d[4].innerHTML;
  })
}

document.getElementById('eupdate').addEventListener("click",function()
{
  var obj=new Object();
  obj.email=document.getElementById('eusername').value;
  obj.phoneno=document.getElementById('ephone').value;
  obj.city=document.getElementById('ecity').value;
  obj.status=document.getElementById('estatus').value;
  obj.role=document.getElementById('erole').value;

  var xhr=new XMLHttpRequest();
  xhr.open("POST","/updatetodatabase");
  xhr.setRequestHeader("Content-Type","application/json");
  xhr.send(JSON.stringify(obj));
})

function mailmodal()
{
  $(document).on("click", "#mailbutton", function() {
    d = $(this).parent().parent()[0].children;
    console.log(d[0]);
    $('#emailPop').val(d[0].innerHTML);
})
}

function updateUser()
{

}
  $.trumbowyg.svgPath = '/css/trumbowyg.svg';
  $('#body').trumbowyg();

   var myuserId = 1;
var myuserArr = [];
var myuserpreviousId;
var userrole = document.getElementById("role-btn");
var userstatus = document.getElementById("status-btn");
var tbody = document.getElementById("table-body");
//loadFromServer();
function loadFromServer()
{
  tbody.innerHTML="";
    var filename = '/getTable';
    var request = new XMLHttpRequest();
    request.open('GET',filename);
    request.send();
    request.onload = function()
    {
        console.log(request.responseText);
        myuserArr = JSON.parse(request.responseText);
        if(myuserArr.length == 0)
        myuserId = 1;
        else {
            for(var i in myuserArr)
            {
                addEntryToDom(myuserArr[i]);
                //myuserpreviousId = parseInt(myuserArr[i].id)
            }
            update_table();
        }
    }
}

function activateUser()
{
   $.confirm({
          title: 'Activate User!',
          content: 'Are you Sure you want to Deactivate "'+" "+'"',
          theme: 'supervan',
          buttons: {
             'Yes': {
                 btnClass: 'btn-success',
                 action: function(){
                  var ob=new Object();
                  $(document).on("click", "#mailbutton", function() {
                  d = $(this).parent().parent()[0].children;
                  ob.mail=d[0].innerHTML;
                  var xhr=new XMLHttpRequest();
                  xhr.open("POST","/activateUser");
                  xhr.setRequestHeader("Content-Type","application/json");
                  xhr.send(JSON.stringify(ob));
                  xhr.onload=function()
                  {
                    if(xhr.responseText=='1')
                    alert("Updated Successfully");
                  }
                  })
                  }
                },
                'No': {btnClass: 'btn-danger',}
         }
        });

}
/*
function update_table()
   {
     $(document).ready(function() {
       $('#users-table').DataTable();
     })
   }

function addEntryToDom(ob)
{
    console.log(ob);
    var row = document.createElement("tr");
    var col1 = document.createElement("td");
    var col2 = document.createElement("td");
    var col3 = document.createElement("td");
    var col4 = document.createElement("td");
    var col5 = document.createElement("td");
    var col6 = document.createElement("td");

    col1.innerHTML = ob.email;
    col2.innerHTML = ob.phoneno;
    col3.innerHTML = ob.city;
    col4.innerHTML = ob.status;
    col5.innerHTML = ob.role;
     col6.setAttribute("style","text-align: center");
      var b1 = document.createElement("button");
      b1.setAttribute("class","btn btn-primary btn-sm action-btn");
      b1.setAttribute("style","background-color:rgb(0, 0, 0)");
      b1.setAttribute("id","mailbutton");
      b1.setAttribute("data-toggle","modal");
      b1.setAttribute("data-target","#mailModal");
      var span1 = document.createElement("span");
      span1.setAttribute("class","fa fa-envelope")
      span1.setAttribute("style","color:#fff");
      b1.appendChild(span1);
      col6.appendChild(b1);

    if(ob.role=="Admin" || ob.role=="User")
    {
      //edit
      var b2 = document.createElement("button");
      b2.setAttribute("class","btn btn-primary btn-sm action-btn");
      b2.setAttribute("id","editbutton");
      b2.setAttribute("data-toggle","modal");
      b2.setAttribute("data-target","#editModal");
      var span2 = document.createElement("span");
      span2.setAttribute("class","fa fa-edit")
      span2.setAttribute("style","color:#fff");
      b2.appendChild(span2);
      col6.appendChild(b2);
      b2.onclick=function(){
        console.log(ob.status);
        console.log(ob.role);
        var eheading = document.getElementById("eheading");
        eheading.innerHTML=ob.email;
        var eusername = document.getElementById("eusername");
        eusername.value = ob.email;
        var ephone = document.getElementById("ephone");
        ephone.value=ob.phoneno;
        var ecity = document.getElementById("ecity");
        ecity.value=ob.city;
        var estatus = document.getElementById("estatus");
        estatus.value=ob.status;
        var erole = document.getElementById("erole");
        erole.value = ob.role;
        var ob1=new Object();
        ob1.old=eusername.value;
        
        console.log(estatus.value);
        console.log(erole.value);
        var eupdate=document.getElementById("eupdate");
        eupdate.onclick=function()
        {
          if(eusername.value==""||ephone.value==""||ecity.value==""||estatus.value==""||erole.value=="")
            alert("Please enter all values");
          else
          {
            ob1.id=ob._id;
            ob1.emailid=eusername.value;
                    ob1.phoneno=ephone.value;
                    ob1.city=ecity.value;
                    ob1.status=estatus.value;
                    ob1.role=erole.value;
                    var xhr=new XMLHttpRequest();
                    xhr.open("POST","/updatetodatabase");
                    xhr.setRequestHeader("Content-Type","application/json");
                    xhr.send(JSON.stringify(ob1));
                    xhr.onload=function()
                    {
                      if(xhr.responseText=='1')
                      alert("Updated Successfully");
                    }
          }         
        }
      }
    
      if(ob.restrict=="false")
      {
        var b3 = document.createElement("button");
        b3.setAttribute("class","btn btn-success btn-sm action-btn");
        var span3 = document.createElement("span");
        span3.setAttribute("class","fa fa-check-circle")
        span3.setAttribute("style","color:#fff");
        b3.appendChild(span3);
        col6.appendChild(b3);
        b3.addEventListener("click", function(){
         
      }
      else
      {
        var b4 = document.createElement("button");
        b4.setAttribute("class","btn btn-warning btn-sm action-btn");
        var span4 = document.createElement("span");
        span4.setAttribute("class","fa fa-times-circle")
        span4.setAttribute("style","color:#fff");
        b4.appendChild(span4);
        col6.appendChild(b4);
        b4.addEventListener("click", function(){
          $.confirm({
          title: 'Deactivate User!',
          content: 'Are you Sure you want to Deactivate "'+ob.name+'"',
          theme: 'supervan',
          buttons: {
             'Yes': {
                 btnClass: 'btn-success',
                 action: function(){
                    var xml=new XMLHttpRequest();
                    xml.open("POST","/deactivateUser");
                    xml.setRequestHeader("Content-Type","application/json");
                    xml.send(JSON.stringify({id: ob._id}));
                      loadFromServer();
                  }
                },
                'No': {btnClass: 'btn-danger',}
         }
        });
        })
      }
    }
    row.appendChild(col1);
    row.appendChild(col2);
    row.appendChild(col3);
    row.appendChild(col4);
    row.appendChild(col5);
    row.appendChild(col6);
    tbody.appendChild(row);
}*/
</script>