.allSidesSoft {
  box-shadow: 0 3px 10px 0 rgba(115, 143, 147, .3);
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.card-body {
  padding: 15px;
}

textarea {
  resize: none !important;
}


::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#profileUpload {
  opacity: 0;
  margin-top: 6%;
  margin-left: 45%;
  width: 0px;
  position: absolute;
}

.datepicker {
  z-index: 9999;
}

.image-container:hover .image {
  opacity: 0.3;
}

.image-container:hover .middle {
  opacity: 1;
}

.image-container {
  position: relative;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #FCFCFC;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}