.container-home {
    background: rgb(249, 249, 249);
}

.edtbtn {
    margin: 25px;
    padding: 10px;
    font-size: 15px;
}

.card {
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
}

.home-con {
    flex-direction: row;
}

@media (max-width:768px) {
    .image-home-container {
        text-align-last: center;
    }

    .home-con {
        flex-direction: column;
    }
}

.col-home-div {
    margin-right: 7%;
    flex: 1;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    margin-left: 7%;
}

.panel-home-heading {
    color: #333;
    padding: 10px;
    font-weight: bold;
    background-color: #f5f5f5;
}

.panel-home-body {
    padding: 10px;
}

.image-home-content {
    width: 150px;
    height: 150px;
    background-color: #FCFCFC;
}

.shadow {
    box-shadow: 0px 20px 20px -12px gray;
}