.header {
	background-color: rgba(34, 45, 60, 1);
	display: flex;
	justify-content: space-between;
	color: white;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.icon2 {
	display: none;
}

@media screen and (max-width: 950px) {

	.user-data-header {
		display: none;
	}

	.icon-header {
		display: block;
	}

	.img-header {
		display: none;
	}
}