body {
	margin: 0;
	padding: 0;
	height: auto;
	font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
header {
	background-color: white;
	color: #000;
}

.top-bar {
	z-index: 1000;
	position: fixed;
	height: 50px;
	width: 100%;
	text-align: left;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    top: 0;
}
.top-bar p {
	margin: 0;
	font-size: 25px;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	font-weight: bold;
}

.form-group {
	margin-bottom: 10px;
		margin-left:10px;
	margin-right:10px;
}

.container {
	margin-top: 6%;
}
.login-form {
	height: 275px;
	width: 60%;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);

}
.login-form p {
	padding: 1%;
	font-size: 25px;
	font-weight: 400;
}
@media(max-width: 768px)
{
  .login-form{
    width: 100%;
    height: 350px;
  }
  .btn {

  }
}

.footer {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	height: 65px;
	color:#7f7f84;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
}
.footer p {
	height: 65px;
	font-size:15px;
	padding-top:15px;
	font-weight:bold;
	margin: 0;
}