#userlist-icon {
    border: 2px solid #2D312C;
    background-color: #2D312C;
    color: #fff;
    width: 100px;
    font-weight: bold;
}

#role-btn {
    width: 100px;
    border: 2px solid #2D312C;
    background-color: #2D312C;
    color: #fff;
}

#status-btn {
    width: 70px;
    border: 2px solid #2D312C;
    background-color: #2D312C;
    color: #fff;
}

#main-table {
    border-bottom: 1px solid #111;
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
    box-sizing: content-box;
}

.action-btn {
    margin: 5px;
}

#email-btn {
    background-color: rgb(0, 0, 0);
}

.table-responsive {
    overflow: hidden;
}

@media (max-width:768px) {
    #role-btn {
        width: 14%;
    }

    #status-btn {
        width: 10%;
    }

    .table-responsive {
        overflow: auto;
    }
}

.form-group {
    display: flex;
}

.form-inline {
    display: block;
}

.table .btn {
    height: 18sp;
    box-sizing: border-box;
}

.actionbtns {
    margin: 5px;
}

#tagdiv {
    border: 2px solid #2D312C;
    background-color: #2D312C;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}