<style>
#menu {
	float:left;
	height: 92vh;
	background-color: #000;
	width: 50px;
	transition-property: width;
	transition-duration: 0.7s;
	display: inline-block;
}
.menu-item .fa {
	color: #fff;
	font-size: 20px;
	width: 30px;
	margin: 5px 15px;
}
.menu-item a {
	text-decoration: none;
}
#menu span {
	display: none;
}
.menu-item {
	cursor: pointer;
	opacity: 0.8;
	color: #fff;
	font-family: sans-serif;
	font-size: 14px;
}
.menu-item:hover {
	opacity: 1;
	background-color: #4d5866;
}
.active {
	background-color: #51a1e2 !important;
}
</style>
<body>
	<div id="menu">
		<div class="menu-item" id="sideBtn1"><i class="fa fa-bars"></i><span>cq</span></div>
		<div class="menu-item active"  onclick="openHome()""><i class="fa fa-home"></i><span>Home</span></div>
		<div class="menu-item" onclick="openAddUser()"><i class="fa fa-plus-square"></i><span>Add User</span></div>
		<div class="menu-item"><i class="fa fa-list-ul" onclick="openTable()"></i><span>Users List</span></div>
		<div class="menu-item"><i class="fa fa-list-alt"></i><span>Community List</span></div>
		<div class="menu-item" onclick="switchState('Switch As User')"><i class="fa fa-toggle-off"></i><span>Switch As User</span></div>
		<div class="menu-item" onclick="tagpage()"><i class="fa fa-tags"></i><span>Tag Panel</span></div>
		<div class="menu-item" onclick="changePass()"><i class="fa fa-lock"></i><span>Change Password</span></div>
		<div class="menu-item" onclick="logout()"><i class="fa fa-sign-out"></i><span>Logout</span></div>
	</div>

<script type="text/javascript">
	var menu = document.getElementById("menu");
	var sideBtn = document.getElementById("sideBtn");
	var sideBtn1 = document.getElementById("sideBtn1");
	var span = menu.getElementsByTagName("span");
	sideBtn.addEventListener("click", function () {
		if(menu.style.width == '300px') {
			menu.style.width = '50px';
			for(var i = 0;i<span.length;i++) {
				span[i].style.display = 'none';
			}
		} else {
			menu.style.width = '300px';
			setTimeout(function () {
				for(var i = 0;i<span.length;i++) {
					span[i].style.display = 'inline';
				}
			}, 210);
		}
	})

	sideBtn1.addEventListener("click", function () {
		if(menu.style.width == '300px') {
			menu.style.width = '50px';
			for(var i = 0;i<span.length;i++) {
				span[i].style.display = 'none';
			}
		} else {
			menu.style.width = '300px';
			setTimeout(function () {
				for(var i = 0;i<span.length;i++) {
					span[i].style.display = 'inline';
				}
			}, 210);
		}
	})

function openHome() {
	window.location='/home';
}

function openAddUser() {
	window.location='/addUser';
}

function logout() {
	var xml=new XMLHttpRequest();
	xml.open("GET","/logout");
	xml.addEventListener('load', function()
	{
		window.location='/'
	})
	xml.send();
	window.location='/'
}

function openTable() {
	window.location='/table';
}
function tagpage() {
	window.location='/tagpage';
}
function changePass() {
	var xml = new XMLHttpRequest();
    xml.open('POST','/logout');
    xml.onload = function() {
    	window.location='/'
    }
    xml.send();
}
function switchState(e){
  $.confirm({
      title: e,
      content: "Do you really want switch state...",
      buttons: {
          'Yes': {
              btnClass: 'btn-success',
              action: function () {
                window.location.replace("/admin/switchAsUser");
              }
          },
          'No': {btnClass: 'btn-danger',}
      }
  });
}
</script>
-->