<div class="tabBar" id="menu">
	<a class="bar" id="sideBtn"><i class="fa fa-bars"></i><span>cq</span></a>

	<a href="/home" id="home"><i class="fa fa-home"></i><span>Home</span></a>
  <% if(data.temprole != "User"){ %>
	<a href="/addUser" id="addUser"><i class="fa fa-plus-square"></i><span>Add User</span></a>
	<a href="/table" id="showUser"><i class="fa fa-list-ul"></i><span>Users List</span></a>
  <% } %>
  <% if(data.temprole != "User"){ %>
	<a href="/superadmincommunityPage" id="communityList"><i class="fa fa-list-alt"></i><span>Community List</span></a>
  <% } %>
  <% if(data.temprole == "User"){ %>
  <a href="/communityPage" id="communityList"><i class="fa fa-users"></i><span>Community List</span></a>
  <% } %>
  <% if(data.role == "SuperAdmin"){ %>
	<a id="switchUser" onclick="switchState('Switch As User')"><i class="fa fa-toggle-on"></i><span>Switch As User</span></a>
  <% } %>
  <% if(data.temprole != "User"){ %>
	<a href="/tagpage" id="tags"><i class="fa fa-tags"></i><span>Tag Panel</span></a>
  <% } %>
	<a href="/changePassPage" id="changePassword"><i class="fa fa-lock"></i><span>Change Password</span></a>
	<a id="logout" onclick="logout()"><i class="fa fa-sign-out" style="color: #999;"></i><span>logout</span></a>
</div>

<script type="text/javascript">
var bar = document.querySelector('.bar')
var tabBar = document.querySelector('.tabBar')
var width;

function expand() {
    if(tabBar.style.width == '250px'){
        tabBar.style.width = width
    }else{
    	width = tabBar.style.width
        tabBar.style.width = '250px'
    }
}
document.querySelectorAll('.bar').forEach((value)=>{
	value.onclick = expand
})

function logout() {
   $.confirm({
    title: 'Confirm Logout!',
    content: 'Do you really want to logout?',
    theme: 'supervan',
    buttons: {
       'Yes': {
           		btnClass: 'btn-success',
           		action: function(){
              	var xml = new XMLHttpRequest();
			    xml.open('POST','/logout');
			    xml.onload = function() {
			    	window.location='/'
  				}
    			xml.send();
            }
          },
          'No': {btnClass: 'btn-danger',}
   }
  });
}

function switchState(e) {
  $.confirm({
      title: e,
      content: "Do you really want switch state...",
      theme: 'supervan',
      buttons: {
          'Yes': {
              btnClass: 'btn-success',
              action: function () {
                var xml=new XMLHttpRequest()
                xml.open("POST","/userTable/changetemprole");
                xml.addEventListener("load",function()
                {
                  window.location='/home'
                })
                xml.send();
              }
          },
          'No': {btnClass: 'btn-danger',}
      }
  });
}
</script>